@import "tailwindcss";

@font-face {
  font-family: "Regular";
  src: "/fonts/regular.otf";
}

@font-face {
  font-family: "Medium";
  src: "/fonts/medium.otf";
}

@font-face {
  font-family: "SemiBold";
  src: "/fonts/semibold.otf";
}

@font-face {
  font-family: "Bold";
  src: "/fonts/bold.otf";
}

@theme {
  --font-regular: "Regular",
  --font-medium: "Medium",
  --font-semiBold: "SemiBold",
  --font-bold: "Bold",

  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

*{
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: #000;
  color: var(--color-dark-100);
  font-family: var(--font-semiBold);
}

@utility flex-center {
  @apply flex justify-center items-center
}

@utility flex-between {
  @apply flex justify-between items-center
}

@utility col-center {
  @apply flex flex-col justify-center items-center
}

@utility base-semibold {
  @apply text-base text-dark-100 font-semibold
}

@utility h3-semibold {
  @apply text-xl text-dark-100 font-semibold
}

@utility small-medium {
  @apply text-xs font-medium
}

@layer components {
   header {
    @apply w-screen min-h-[7vh]    fixed top-0 left-0 z-50    flex-center   bg-black/10 backdrop-blur-2xl;
   
    nav {
      @apply container    mx-auto px-5 2xl:px-14   flex-between;

      img {
        @apply cursor-pointer   hover:-translate-y-0.5 transition-all duration-300 ease-in-out;

        button {
          @apply cursor-pointer    border-none outline-none bg-transparent;
        }
      }

      ul{
        @apply flex-center gap-8;

        li{
          @apply hidden md:block  opacity-80 hover:opacity-100    font-regular text-white text-sm   transition-all duration-300 ease-out cursor-pointer;
        }
      }
    }
  }

  #hero{
    @apply h-fit  mt-40 lg:mt-20 2xl:mt-[16vh]     col-center;
    
    div {
      h1{
        @apply text-center lg:text-3xl xl:text-5xl text-white font-semibold;
      }

      img{
        @apply container max-lg:w-2/3 xl:w-[60%] h-auto    mx-auto  ;
      }
    }

    video{
        @apply mx-auto lg:-mb-24 lg:-mt-2 w-full lg:w-[90%] h-auto;
      }

      button {
        @apply z-10    mb-5 mx-auto py-2 px-6   bg-[#0071e3] hover:bg-white     text-lg text-white hover:text-black font-semibold   rounded-full  transition-all duration-300 ease-out
      }

      p{
        @apply z-10 base-semibold lg:h3-semibold text-center 
      }
  }

  #product-viewer{
    @apply container min-h-[93vh]   relative     mx-auto mt-40 px-5 2xl:px-14;

    h2{
      @apply text-white font-semibold text-3xl lg:text-6xl mb-4 lg:mb-6
    }

    .controls{
      @apply absolute z-50 bottom-40 lg:bottom-40 2xl:bottom-52 left-1/2 -translate-x-1/2;
    
      .info{
        @apply px-2 py-1    text-white  bg-black/20   rounded-lg;
      }

      .color-control{
        @apply px-6 py-3   flex-between gap-4   bg-neutral-800 rounded-lg;

        div{
          @apply size-7     rounded-full  cursor-pointer;
        }

        .active{
          @apply size-5   ring-5 ring-light-100;
        }
      }

      .size-control{
        @apply px-6 py-2.5  flex-between gap-2  bg-neutral-800 rounded-full;

        div{
          @apply size-8   flex-center   text-black text-sm   bg-white    rounded-full    cursor-pointer
        }
      }
    }

    #canvas{
       @apply !w-full !h-[80vh] lg:!h-dvh relative z-40;
      }
  }
}