@import "tailwindcss";

@font-face {
  font-family: "Regular";
  src: "/fonts/regular.otf";
}

@font-face {
  font-family: "Medium";
  src: "/fonts/medium.otf";
}

@font-face {
  font-family: "SemiBold";
  src: "/fonts/semibold.otf";
}

@font-face {
  font-family: "Bold";
  src: "/fonts/bold.otf";
}

@theme {
  --font-regular: "Regular",
  --font-medium: "Medium",
  --font-semiBold: "SemiBold",
  --font-bold: "Bold",

  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

*{
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: #000;
  color: var(--color-dark-100);
  font-family: var(--font-semiBold);
}

@utility flex-center {
  @apply flex justify-center items-center
}

@utility flex-between {
  @apply flex justify-between items-center
}

@utility col-center {
  @apply flex flex-col justify-center items-center
}

@utility base-semibold {
  @apply text-base text-dark-100 font-semibold
}

@utility h3-semibold {
  @apply text-xl text-dark-100 font-semibold
}

@utility small-medium {
  @apply text-xs font-medium
}

@layer components {
   header {
    @apply w-screen min-h-[7vh]    fixed top-0 left-0 z-50    flex-center   bg-black/10 backdrop-blur-2xl;
   
    nav {
      @apply container    mx-auto px-5 2xl:px-14   flex-between;

      img {
        @apply cursor-pointer   hover:-translate-y-0.5 transition-all duration-300 ease-in-out;

        button {
          @apply cursor-pointer    border-none outline-none bg-transparent;
        }
      }

      ul{
        @apply flex-center gap-8;

        li{
          @apply hidden md:block  opacity-80 hover:opacity-100    font-regular text-white text-sm   transition-all duration-300 ease-out cursor-pointer;
        }
      }
    }
  }

  #hero{
    @apply h-fit  mt-40 lg:mt-20 2xl:mt-[16vh]     col-center;
    
    div {
      h1{
        @apply text-center lg:text-3xl xl:text-5xl text-white font-semibold;
      }

      img{
        @apply container max-lg:w-2/3 xl:w-[60%] h-auto    mx-auto  ;
      }
    }

    video{
        @apply mx-auto lg:-mb-24 lg:-mt-2 w-full lg:w-[90%] h-auto;
      }

      button {
        @apply z-10    mb-5 mx-auto py-2 px-6   bg-[#0071e3] hover:bg-white     text-lg text-white hover:text-black font-semibold   rounded-full  transition-all duration-300 ease-out
      }

      p{
        @apply z-10 base-semibold lg:h3-semibold text-center 
      }
  }

  #product-viewer{
    @apply container min-h-[93vh]   relative     mx-auto mt-40 px-5 2xl:px-14;

    h2{
      @apply text-white font-semibold text-3xl lg:text-6xl mb-4 lg:mb-6
    }

    .controls{
      @apply absolute z-50 bottom-40 lg:bottom-40 2xl:bottom-52 left-1/2 -translate-x-1/2;
    
      .info{
        @apply px-2 py-1    text-white  bg-black/20   rounded-lg;
      }

      .color-control{
        @apply px-6 py-3   flex-between gap-4   bg-neutral-800 rounded-lg;

        div{
          @apply size-7     rounded-full  cursor-pointer;
        }

        .active{
          @apply size-5   ring-5 ring-light-100;
        }
      }

      .size-control{
        @apply px-6 py-2.5  flex-between gap-2  bg-neutral-800 rounded-full;

        div{
          @apply size-8   flex-center   text-black text-sm   bg-white    rounded-full    cursor-pointer
        }
      }
    }

    #canvas{
       @apply !w-full !h-[80vh] lg:!h-dvh relative z-40;
      }
  }

  #showcase{
    @apply relative;

    .media{
      @apply relative lg:overflow-hidden;

      video{
        @apply w-full object-cover object-center; 
      }

      .mask{
        @apply h-full absolute top-0 lg:-top-20 xl:top-0;

        img{
          @apply h-full my-4 scale-150 lg:scale-100;
          transform: matrix(80, 0, 0, 80, 0, 0);
        }

        @media (max-width:1024){
          img{
            transform: matrix(1, 0, 0, 1, 0, 0);
          }
        }
      }
    }

    .content{
      @apply relative z-10 lg:opacity-0    my-5 lg:-mt-40    text-xl text-dark-100 font-semibold   bg-black;
    
      .wrapper{
        @apply container    mx-auto px-5 pb-20 2xl:px-0    flex flex-col lg:flex-row justify-center gap-20;
      }

      h2{
        @apply text-3xl lg:text-7xl font-semibold text-white;
      }

      h3{
        @apply text-xl lg:text-5xl font-semibold text-white;
      }
    }
  }

  #performance{
    @apply w-dvw h-full relative overflow-hidden   pt-20 lg:pt-20    flex flex-col items-center;
   
    h2{
      @apply max-w-2xl    font-semibold text-white text-3xl lg:text-6xl text-center
    }

    .wrapper{
      @apply relative w-7xl 2xl:w-[100rem] h-[50vh] lg:h-screen;

      img{
        @apply max-w-40 lg:max-w-[27rem] 2xl:max-w-[35rem] object-cover object-center;
      }

      .p1 {
        @apply absolute bottom-1/2 left-[23%] z-[1] max-sm:left-[33%];
      }

      .p2 {
        @apply absolute bottom-[40%] right-[17%] z-[3] max-sm:right-[37%];
      }

      .p3 {
        @apply absolute bottom-1/4 right-[15%] z-[2] max-sm:right-[35%];
      }

      .p4 {
        @apply absolute bottom-[15%] right-[10%] z-[1] max-sm:right-[30%];
      }

      .p5 {
        @apply absolute bottom-[20%] left-1/2 -translate-x-1/2 scale-150;
      }

      .p6 {
        @apply absolute bottom-1/4 left-1/4 z-[2] max-sm:left-[35%];
      }

      .p7 {
        @apply absolute bottom-[5%] left-[15%] z-[3] max-sm:left-[35%];
      }
    }

    .content{
      @apply mx-auto max-w-7xl mt-24;

      p{
        @apply opacity-0 translate-y-10   base-semibold lg:h3-semibold text-center
      }
    }
  }

  #features{
    @apply pt-40 relative;

    h2 {
      @apply max-w-3xl mx-auto    text-3xl lg:text-7xl font-semibold text-white text-center
    }

    #f-canvas{
      @apply !w-full !h-dvh relative z-40;
    }

    .box{
      @apply max-w-xs absolute;

      p{
        @apply base-semibold lg:h3-semibold
      }
    }
  }

  #highlights{
    @apply container mx-auto lg:py-40 px-5 lg:px-14;

    h2{
      @apply  max-w-3xl mx-auto   text-3xl lg:text-7xl text-white font-semibold text-center;
    }

    h3{
      @apply w-full max-w-6xl mx-auto mt-10   text-xl lg:text-3xl font-semibold text-center text-[#f5f5f7];
    }

    .masonry{
      @apply grid grid-cols-1 lg:grid-cols-2 mx-auto gap-5 lg:gap-10 mt-20 text-[#f5f5f7];

      .left-column {
        @apply lg:max-w-lg w-full ml-auto    flex flex-col justify-between gap-5 -translate-y-5  opacity-0;

        div:first-of-type{
          @apply h-full bg-[url(/highlight-bg.png)] bg-no-repeat bg-cover p-10 lg:pt-20 2xl:pt-32 rounded-3xl;

          p{
            @apply max-w-xs   text-4xl font-semibold;
          }
        }

        div:last-of-type{
          @apply  p-10  flex items-center gap-7   bg-[#1d1d1f]  rounded-3xl;

           p {
            @apply font-semibold lg:text-2xl 2xl:text-3xl;
          }
        }
      }

      .right-column {
        @apply lg:max-w-lg w-full mr-auto   flex flex-col justify-between gap-4 -translate-y-0.5   opacity-0;

        p{
          @apply max-w-xs     text-4xl font-semibold;
        }

        .apple-gradient{
          @apply relative   p-10    flex items-center gap-7     rounded-3xl;

          background: #1d1d1f;
          background-clip: padding-box; /* !important */
          border: 3px solid transparent; /* !important */

          ::before {
            content: "";
            pointer-events: none;
            position: absolute;
            inset: 0px;
            z-index: -1;
            margin: -5px; /* !important */
            border-radius: 24px; /* !important */
            background: linear-gradient(
              91deg,
              #0096ff 0%,
              #bb64ff 42%,
              #f2416b 74%,
              #eb7500 100%
            );
          }

          p {
            @apply font-semibold lg:text-2xl 2xl:text-3xl;

            span {
              background: linear-gradient(
                91deg,
                #0096ff 0%,
                #bb64ff 42%,
                #f2416b 74%,
                #eb7500 100%
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

        }
div:last-of-type {
          @apply h-full bg-[#1D1D1F] p-10 2xl:pt-32 lg:pt-20 rounded-3xl;

          p {
            @apply font-semibold text-4xl max-w-sm;

            .green-gradient {
              background: linear-gradient(90deg, #35a98a 0%, #6dd400 100%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
        
      }
    }
  }

  footer{
    @apply container mx-auto py-7 px-5 lg:px-14;

    .info{
      @apply flex-between;

      p{
        @apply font-medium text-sm;

        span{
          @apply mx-auto text-[#0071e3];
        }
      }
    }

          hr{
        @apply my-7 text-[#252527]
      }

    .links{
      @apply mt-5   flex flex-col lg:flex-row lg:justify-center items-center gap-5    text-sm;

      ul {
        @apply lg:divide-x    flex flex-col lg:flex-row gap-2.5 border-dark-100;
        
        li{
          @apply px-5   cursor-pointer    hover:text-[#0071e3] transition-all ease-in-out
        }
      }
    }
  }
}